.signupPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

@media (max-width: 1200px) {
    .signupPageContainer {
        margin-left: 30PX;
        margin-right: 30px;
    }
}

@media (max-width: 850px) {
    .signupPageContainer {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .signupPageContainer {
        gap: 30px;
    }
}