.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro h1 {
  max-width: 320px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -2.4px;
  text-wrap: balance;
  color: var(--text-primary);
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  color: var(--text-secondary);
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 440px;
  gap: 16px;
  font-size: 14px;
}

.ctas a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 16px;
  border-radius: 128px;
  border: 1px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

.custom-card {
  background-color: #d62727;
}

/* Timeline */

.timeline {
  height: 400px;
  width: 100%;
  margin-top: 40px;
}

/* Timeline item */
.timeline :global(.vis-item) {
  background: transparent;
  border: none;
  padding: 0;
}

/* Our custom card */
.timeline :global(.custom-card) {
  min-width: 180px;
  padding: 12px 16px;
  border-radius: 10px;

  color: white;

  box-shadow: 0 4px 12px rgba(196, 36, 36, 0.15);

  font-family: Arial, sans-serif;
}

/* High priority */
.timeline :global(.custom-card.high) {
  background: #130c60;
  border-left: 5px solid #cf1322;
}

/* Low priority */
.timeline :global(.custom-card.low) {
  background: #0800e4;
  border-left: 5px solid #237804;
}

/* Title */
.timeline :global(.custom-card-title) {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

/* Assignee */
.timeline :global(.custom-card-assignee) {
  font-size: 13px;
  opacity: 0.9;
  margin-bottom: 8px;
}

/* Progress */
.timeline :global(.custom-card-progress) {
  font-size: 12px;
  font-weight: 600;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

.code {
  font-family: var(--font-geist-mono);
  font-size: 0.9em;
  background: color-mix(in srgb, currentColor 8%, transparent);
  padding: 0.1em 0.4em;
  border-radius: 6px;
}