.heroSectionContainer {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.circle {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 50%;
    position: absolute;
    margin-right: 1000;
    left: 100px;
    bottom: 0;
    z-index: -1;
    filter: blur(100px);
}

.heroSectionTitle {
    margin-top: 30px;
    font-weight: 900;
    font-size: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.preciselyTxt {
    color: var(--blue);
    margin-right: 10px;
}

.medicalHistoryTxt {
    color: var(--purple);
}

.heroSectionDesc {
    margin-top: 20px;
    color: #A5A1B8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}

.heroSectionButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.signupButton {
    background-color: var(--purple);
    padding: 12px 40px;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.signupButton:hover {
    background-color: #A411D970;
    cursor: pointer;
}

.viewAllFeaturesButton {
    background: none;
    padding: 12px 40px;
    color: white;
    border: 2px solid var(--blue);
    border-radius: 5px;
    text-align: center;
}

.viewAllFeaturesButton:hover {
    background-color: var(--blue);
    cursor: pointer;
}

@media (max-width: 1350px) {
    .heroSectionDesc {
        width: 70%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }
}

@media (max-width: 1150px) {
    .heroSectionContainer {
        flex-direction: column;
        justify-content: center;
    }

    .heroSectionTitle {
        text-align: center;
    }

    .heroSectionDesc {
        text-align: center;
        width: 100%;
    }

    .heroSectionButtons {
        justify-content: center;
    }

    .doctorImg {
        margin-top: 30px;
    }

    .circle {
        margin-right: 1000;
        left: 35%;
        top: 150px;
        width: 300px;
    }
}

@media (max-width: 800px) {
    .heroSectionTitle {
        font-size: 35px;
    }

    .heroSectionDesc {
        .myText {
            display: block;
            overflow: visible;
            -webkit-line-clamp: unset;
            line-clamp: unset;
            -webkit-box-orient: unset;
        }
    }

    .circle {
        width: 200px;
    }
}


@media (max-width: 575px) {
    .heroSectionTitle {
        font-size: 30px;
    }

    .heroSectionDesc {
        font-size: 12px;
    }

    .circle {
        width: 150px;
        filter: blur(50px);
    }
}

@media (max-width: 500px) {
    .heroSectionTitle {
        display: block;
        overflow: visible;
        -webkit-line-clamp: unset;
        line-clamp: unset;
        -webkit-box-orient: unset;
        font-size: 25px;
    }

    .heroSectionDesc {
        font-size: 10px;
    }

    .heroSectionContainer {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 420px) {
    .signupButton {
        padding: 8px 20px;
        font-size: 14px;
    }

    .viewAllFeaturesButton {
        padding: 8px 20px;
    }
}
