.emailFieldContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.emailTxt {
    font-weight: 600;
    font-size: 14px;
}

.emailInputField {
    border: 1px solid #23BAE720;
    background-color: #F7F8FC;
    padding: 16px 24px;
    border-radius: 15px;
    width: 50vh;
}

@media (max-width: 1400px) {
    .emailInputField {
        width: 400px;
    }
}

@media (max-width: 1250px) {
    .emailInputField {
        width: 40vh;
    }
}

@media (max-width: 1100px) {
    .emailInputField {
        width: 25vh;
    }
}

@media (max-width: 850px) {
    .emailInputField {
        width: 60vh;
    }
}

@media (max-width: 805px) {
    .emailInputField {
        width: 50vh;
    }
}

@media (max-width: 700px) {
    .emailInputField {
        width: 40vh;
    }
}

@media (max-width: 580px) {
    .emailInputField {
        width: 30vh;
    }
}
