/* .tagContainer {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

 .circle {
    width: 10px;
    height: 10px;
    background-color: var(--blue);
    border-radius: 100%;
} 

.tagTitle {
    font-weight: 600;
}

@media (max-width: 1150px) {
    .tagContainer {
        justify-content: center;
    }
} */