.signupFormContainer {
    padding: 40px 32px;
    border-radius: 20px;
    background-color: #E7EBF3;
    width: 40%;
    color: black
}

.signupFormDesc {
    color: #666666;
    margin-top: 10px;
}

.signupFormTagContainer {
    background-color: #FFFFFF;
    border-radius: 100px;
    border: 1px solid #FFFFFF07;
    padding: 10px 28px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.circle {
    background-color: var(--blue);
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.signupFormTagDesc {
    font-size: 14px;
    color: #6B7280;
}
